*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* global styles  */
.bg-white{
    background-color: white;
}
.text-white{
    color: whitesmoke;
}
.text-yellow{
    color:#ffca00;
}
.text-dark{
    color: #082c30;
}
.text-bold{
    font-size: 38px;
}
.bg-yellow{
    background-color:#ffca00;
}
.bg-blue{
    background-color: #88c0ca;
}
.bg-dark-blue{
    background-color: #85a3b9;
}
.bg-dark{
    background-color: #082c30;
}
.bd-gray
{
    background-color: lightgray;
}
.container{
    width:80%;
    margin: auto;
}
.nav-flex{
    display: flex;
    justify-content: space-between;
}
.align-item-center{
    align-items: center;
}
.nav-position{
    position:sticky;
    z-index: 100000;
    top:0
}
a{
    font-size: 20px;
}
a:hover{
    background-color: #ffca00;
    border: 2px solid #ffca00 ;
    padding:7px;
    border-radius: 10%;
}
/* custome styles */
.link-width{
    width: 40%;
}
.link-width-2{
    width: 23%;
}
.square{
    background-color: #88c0ca;
    border: 3px solid #88c0ca;
    width: 79%;
    height: 572px;
    position : relative;
    left: 30%;
    margin-top:10%;
    margin-right:10%;
    z-index: 0;
}
.title{
    text-transform: capitalize;
    font-size: 300%;
    position: absolute;
    right: 33%;
    width: 96%;
    top: 20%;
    

}
.title h1{
    width: 80%;
}
.search-engine{
    position: absolute;
    bottom: 23%;
    left: -14%;
}
button{
    width: 30%;
    background-color: #ffca00;
    padding: 15px;
    border:1px  solid #ffca00;
    font-size: medium;
    font-weight: 400;

}
input{
    width: 70%;
    /* height: 61%; */
    border: 28px solid white;
}
.form{
    display: flex;

}
form i {
    margin: 7% 0 ; 
}
.info{
    position: absolute;
    background-color: #ffca00;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0%;
    right: 0%;
    background-color: #ffca00;
    padding: 14px 13px;
    width: 40%;
    height: -5%
}
span{
    font-size: 20px;
}
.scroll-down{
    position: absolute;
    top: 101%;
    right: 122%;
    rotate: 90deg;
    width: 30%;
}
/* ------------------seccond page----------------  */
.d-flex{
    display:flex;
    justify-content: space-between;
}
.section-2-margin {
    margin-top: 10%
}
.square_2{
    
    background-color: #85a3b9;
    width: 40%;
    height: 293px;
    border: 1px solid #85a3b9;
    position: relative;
}
.text{
    float: right;
    width: 36%;
    text-align: left;
    margin: 6% 0;
}
.text h2{
    margin: 5% 0;
}
.yellow-rec-1{
    position: absolute;
    height: 90px;
    width: 63%;
    background: #ffc800;
    top: 83%;
    left: 19%;
}
.location{
    font-weight: 780;
    text-align: center;
    word-spacing: 28px;
    padding: 11%;
    font-size: 22px;
}
.yellow-rec-2{
    position: absolute;
    height: 90px;
    width: 63%;
    background: #ffc800;
    top: 83%;
    left: 58%;
}
.button{
    background-color: #082c30;
    width: 157px;
    height: 65px;
    color: white;
    font-size: larger;
    text-align: center;
    padding: 24px 0;
    border: 1px solid #082c30;
    margin-top: 6%;
    font-weight:700;
}
.footer-font{
    font-size: 45px;
    font-weight: 700;
}
.footer-main-padding{
    padding: 7% 0;
    align-items: center;
    width: 83%;
}
.arrow{
    width: 17%;
    padding: 4%;
}

.wh{
    width: 180%;
    height: 78px;
    align-items: center;
}
.d-flex-r{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.heading h2{
    padding: 34px 0;
    font-size: 46px;
    font-weight: 800;
}
.p {
    padding: 17px 0;
    width: 80%;
    text-align-last: auto;
}
.small-squares{
    background-color: lightgray;
    /* width: 170%;
    height: 35%; */
    text-align: center;
    padding-top: 43px;
    margin: 15px 0;
}
.small-squares .text-yellow{
    font-size: 50px;
}
.small-squares .text-dark{
    font-weight:800
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px 20px;
    
    justify-content: space-between;
}

.grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
.heading h2{
    width: 50%;
}