/* making thr default <=600px */
/* @media (min-width:800){
            .d-flex-r{
                display: flex;
                justify-content: space-between;
                
            }
            .heading h2{
                width: 30%;
            }
            
} */